img.full{
	height: auto;
	width:auto;
}
img.fifty{
	height:50%;
}
p{
  font-family:'Roboto Condensed', sans-serif;
  font-size:12px;
  color:black;
}
/*unvisited link*/
a:link{
  color:white;
  text-decoration: none;
}
/*visited link*/
a:visited{
  color:#a5e5ff;
  text-decoration: none;
}
/*mouse over link*/
a:hover{
  color:yellow;
  text-decoration: none;
}
/*selected link*/
a:active{
  color:hotpink;
  text-decoration: none;
}
ul {
    list-style-type: none;
    background-color: #c0ccd1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: #6de9ff;
    color: white;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  color:#000000;
  text-align:justify;
  margin-left:10px;
  margin-right:10px;
  background:#e8f0ff;
  -webkit-animation:colour 10s linear infinite;
  -moz-animation:colour 10s linear infinite;
}
@-webkit-keyframes colour{
  0%{
    background:#e8f0ff
  }

  25%{
    background:#fff7fd
  }

  50%{
    background:#fdffe0
  }
  
  75%{
    background:#fcfcfc
  }
  
  100%{
    background:#e8f0ff
  }
}
@-moz-keyframes colour{
  0%{
    background:#91bbff
  }

  25%{
    background:#fff7fd
  }

  50%{
    background:#fdffe0
  }

  75%{
    background:#fcfcfc
  }
  100%{
    background:#e8f0ff
  }
}
h1{
  font-family:arial;
  margin-top:20px;
  color:#ffffff;
  font-size:50px;
  text-align:center;
  text-transform:uppercase;
}

